# **Concrete Strength Prediction**
For concrete strength prediction here we have used 3 algorithms:

1.Linear Regression

2.Decision Tree Regressor

3.Random Forest Regressor

By using the above algorithms, we will train our model by providing training data and once the model will be trained, we will perform prediction.
After prediction, we will evaluate the performance of these algorithmns by error check and accuracy check.

### Steps been followed are as:
Step 1:Data Preprocessing

Step 2: Data training

Step 3: Model Creation

Step 4: Performance Evaluation

## Step 1- Data Preprocessing:

In [60]:
#importing pandas library to read data.
import pandas as pd

In [61]:
#loading data
data=pd.read_csv('/content/concrete_data.csv')
data

      Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0      540.0                 0.0      0.0  ...           676.0   28     79.99
1      540.0                 0.0      0.0  ...           676.0   28     61.89
2      332.5               142.5      0.0  ...           594.0  270     40.27
3      332.5               142.5      0.0  ...           594.0  365     41.05
4      198.6               132.4      0.0  ...           825.5  360     44.30
...      ...                 ...      ...  ...             ...  ...       ...
1025   276.4               116.0     90.3  ...           768.3   28     44.28
1026   322.2                 0.0    115.6  ...           813.4   28     31.18
1027   148.5               139.4    108.6  ...           780.0   28     23.70
1028   159.1               186.7      0.0  ...           788.9   28     32.77
1029   260.9               100.5     78.3  ...           761.5   28     32.40

[1030 rows x 9 columns]

In [62]:
#To view first 5 rows of the dataset.
data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [63]:
#To view last 5 rows of the dataset.
data.tail()

      Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
1025   276.4               116.0     90.3  ...           768.3   28     44.28
1026   322.2                 0.0    115.6  ...           813.4   28     31.18
1027   148.5               139.4    108.6  ...           780.0   28     23.70
1028   159.1               186.7      0.0  ...           788.9   28     32.77
1029   260.9               100.5     78.3  ...           761.5   28     32.40

[5 rows x 9 columns]

In [64]:
#converting data into int datatype to avoid errors below.
data=data.astype(int)
data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0     540                   0        0  ...             676   28        79
1     540                   0        0  ...             676   28        61
2     332                 142        0  ...             594  270        40
3     332                 142        0  ...             594  365        41
4     198                 132        0  ...             825  360        44

[5 rows x 9 columns]

In [65]:
#To view non-null, dtype, memory usage & range of the dataset.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   int64
 1   Blast Furnace Slag  1030 non-null   int64
 2   Fly Ash             1030 non-null   int64
 3   Water               1030 non-null   int64
 4   Superplasticizer    1030 non-null   int64
 5   Coarse Aggregate    1030 non-null   int64
 6   Fine Aggregate      1030 non-null   int64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   int64
dtypes: int64(9)
memory usage: 72.5 KB

In [66]:
#To view different columns of the dataset.
data.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [67]:
#to view statistical summary of all numerical columns of the dataset.
data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    280.933981           73.762136  ...    45.662136    35.319417
std     104.585096           86.170344  ...    63.169912    16.705298
min     102.000000            0.000000  ...     1.000000     2.000000
25%     192.250000            0.000000  ...     7.000000    23.000000
50%     272.500000           22.000000  ...    28.000000    34.000000
75%     350.000000          142.750000  ...    56.000000    45.750000
max     540.000000          359.000000  ...   365.000000    82.000000

[8 rows x 9 columns]

In [68]:
#check for any null values in the dataset.
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [69]:
data.isnull().sum().sum()

0

The data is clean i.e. no missing or inappropriate values found.

## Step 2 Data training:

In [70]:
# Import train_test_split from sklearn.model_selection
from sklearn.model_selection import train_test_split
# Here, X is the data which will have features and y will have our target i.e. strength.
X=data[['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age']]  
y=data['Strength']

In [71]:
# Split data into training data and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=500) 
#Ratio used for splitting training and testing data is 8:2 respectively.

In [72]:
#to view length of training data.
len(X_train)

824

In [73]:
#to view length of testing data.
len(X_test)

206

## Step 3- Model Creation:

### **Linear Regression**

In [74]:
# Importing linear regression model
from sklearn.linear_model import LinearRegression 
reg1 = LinearRegression()

In [75]:
# Fitting data into the model.
reg1.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [76]:
# Making predictions 
pred1 = reg1.predict(X_test)

In [77]:
pred1

array([50.56059863, 50.21047465, 38.04490151, 38.3156941 , 29.56284962,
       30.75103197, 45.77586631, 41.26107651, 10.12486307, 25.90578348,
       29.06438418, 52.90488571, 23.38332453, 38.85004576, 31.67111523,
       33.6059699 , 33.81951902, 28.59953336, 23.90433358, 38.50926211,
       27.36857007, 29.78202169, 34.44691637, 28.86872032, 53.34901389,
       22.62191785, 32.89970566, 24.14420269, 46.52063587, 47.7600064 ,
       22.62716035, 39.71657815, 31.66186304, 36.60207658, 26.95429446,
       32.83380528, 53.4294485 , 31.90799494, 36.18330131, 27.55391628,
       26.70728477, 53.75476327, 39.61124477, 32.34632769, 36.07424462,
       45.69389389, 47.26739585, 24.26392353, 51.36838682, 23.44953657,
       33.14181395, 33.623664  , 50.43969879, 55.68068685, 19.78192164,
       36.1732422 , 23.615643  , 42.81836722, 78.09013094, 30.62774546,
       33.78173302, 53.34901389, 28.5255484 , 67.26975627, 53.34901389,
       21.19145072, 22.51136896, 20.20858345, 44.98420526, 52.51284547,
       26.41784013, 48.60962142, 26.39886198, 25.41089185, 48.88870293,
       53.37060545, 33.61712513, 40.14369058, 52.694664  , 29.13304039,
       19.60500521, 60.69737928, 50.00862265, 25.06040209, 15.87367153,
       59.97680082, 45.41694307, 29.39535579, 39.00700062, 23.24688634,
       37.09721356, 27.88053804, 19.04513745, 36.11021431, 24.26392353,
       14.02965454, 28.27566366, 38.94904334, 32.15867798, 62.81322037,
       59.33531449, 41.78280176, 26.02329652, 32.14938329, 22.64084998,
       38.05161029, 28.90863043, 26.58216906, 25.06354596, 35.77307219,
       48.76126664, 22.18039735, 43.22372842, 25.04457535, 22.08697468,
       45.03321966, 23.49782163, 58.78958413, 35.96036458, 30.61502009,
       53.51666312, 20.74124104, 53.55072087, 41.95894304, 34.04306993,
       31.53689768, 40.69245586, 53.2075838 , 32.24899131, 17.75726536,
       36.33830353, 37.2754267 , 24.45588623, 18.30413335, 15.87367153,
       59.90914345, 39.36508836, 48.6667886 , 41.94638921, 55.88026902,
       24.80550091, 55.80356128, 26.92000383, 38.65064647, 29.10189054,
       16.94005433, 47.86085032, 48.45271592, 61.38505124, 31.09761437,
       22.13541734, 17.6313849 , 57.3155701 , 17.6334009 , 23.21127519,
       11.22238177, 24.34846422, 21.43487574, 26.34602062, 35.00809627,
       17.56552758, 38.29129627, 28.17064378, 45.42833344, 55.75691218,
       33.4545757 , 29.20522473, 52.92647727, 58.6596727 , 33.98892862,
       47.87880169, 30.9111474 , 26.99851713, 23.60746011, 34.51690807,
       23.36086994, 29.14009403, 39.61124477, 26.3974798 , 19.07525362,
       22.12578776, 21.57621926, 46.03875743, 29.3579702 , 23.61589675,
       33.16613054, 57.47202323, 58.53208666, 27.771341  , 49.91886286,
       47.71825045, 36.10909205, 50.65010899, 11.71172887, 18.10608614,
       29.60515877, 33.08068077, 20.05247487, 53.35097276, 24.41864764,
       42.9370203 , 16.77185111, 56.56213223, 19.16590405, 37.99260333,
       34.36936234])

In [78]:
len(pred1)

206

In [79]:
print("Accuracy of the LinearRegression model comes to be: \n ") 
print(reg1.score(X_train,y_train))

Accuracy of the LinearRegression model comes to be:

0.6136179224215671

## **Decision Tree Regressor**

In [80]:
# Importing decision tree regressor 
from sklearn.tree import DecisionTreeRegressor 
reg2 = DecisionTreeRegressor()

In [81]:
#Fitting data into the model.
reg2.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [82]:
# Making predictions on Test data 
pred2 = reg2.predict(X_test)

In [83]:
pred2

array([44.        , 60.        , 26.        , 19.        , 22.        ,
       29.        , 37.        , 33.        , 13.        , 25.        ,
       37.        , 33.        , 12.        , 31.        , 22.        ,
       30.        , 29.        , 50.        , 26.        , 57.        ,
       40.        , 12.        , 34.        , 32.        , 34.        ,
       14.        , 26.        , 13.        , 43.        , 59.        ,
       25.        , 42.        , 40.        , 40.        , 40.        ,
       39.        , 67.        , 44.        , 43.        , 15.        ,
       17.        , 54.        , 46.        , 43.        , 19.        ,
       65.        , 66.        , 15.        , 58.        , 16.        ,
       33.        , 30.        , 33.        , 60.        , 21.        ,
       12.        , 24.        , 43.        , 71.        , 36.        ,
       33.        , 34.        , 28.        , 43.        , 34.        ,
       15.        , 25.        , 14.        , 24.        , 24.        ,
       25.        , 60.        , 24.        , 30.        , 55.        ,
       36.        , 17.        , 48.        , 64.        , 13.        ,
       11.        , 33.        , 41.        , 46.        , 11.        ,
       79.        , 60.        , 37.        , 33.        , 16.        ,
       52.        , 12.        , 12.        , 19.        , 15.        ,
        7.        , 23.        , 38.        , 29.        , 71.        ,
       73.        , 55.        , 15.        , 37.        , 18.        ,
       48.        , 32.        , 15.        , 26.        , 33.        ,
       28.        , 25.        , 52.        , 17.        , 17.        ,
       42.        , 21.        , 64.        , 36.        , 25.        ,
       69.        , 21.        , 38.        , 39.        , 40.        ,
       37.        , 24.        , 61.        , 48.        , 12.        ,
       37.        , 43.        , 29.        , 15.        , 11.        ,
       62.        , 40.        , 55.        , 45.        , 74.        ,
       21.        , 64.        , 29.        , 39.        , 19.        ,
       22.        , 36.        , 53.        , 36.        , 39.        ,
       13.        ,  3.        , 67.        , 30.        , 22.        ,
        4.        , 18.        , 15.        , 24.        , 42.        ,
       10.        , 49.        , 19.        , 33.        , 55.        ,
       22.        , 24.        , 41.        , 55.        , 41.        ,
       40.        , 19.        , 19.        , 23.        , 40.        ,
       25.        , 37.        , 46.        , 32.        , 44.        ,
       22.        , 14.        , 58.        , 31.        , 24.        ,
       31.        , 41.        , 67.        , 44.        , 35.        ,
       25.        , 51.        , 44.        , 10.        , 15.        ,
       26.        , 33.        , 17.        , 69.        , 25.        ,
       52.        , 17.        , 57.33333333, 11.        , 12.        ,
       33.        ])

In [84]:
print("Accuracy of the Decision Tree Regressor  model comes to be: \n ") 
print(reg2.score(X_train,y_train))

Accuracy of the Decision Tree Regressor  model comes to be:

0.9956195447608779

## **Random Forest Regressor**

In [85]:
#Importing random forest regressor 
from sklearn.ensemble import RandomForestRegressor 
reg3 = RandomForestRegressor(n_estimators=100)

In [86]:
# Fitting data into the model.
reg3.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [87]:
#making predictions.
pred3 = reg3.predict(X_test)

In [88]:
pred3

array([51.28      , 63.47      , 31.7       , 18.22      , 28.14      ,
       28.64      , 37.87      , 33.19      ,  7.88      , 30.09      ,
       35.73      , 33.12      , 16.31      , 37.55      , 22.02533333,
       32.3       , 32.2       , 45.23      , 26.17      , 52.17      ,
       28.91      , 15.344     , 36.5       , 38.23      , 43.4955    ,
       15.34      , 29.39      , 14.55      , 51.235     , 60.32      ,
       24.12      , 46.36      , 37.13      , 42.7       , 37.31      ,
       41.35      , 64.49      , 42.46      , 40.61      , 14.98      ,
       16.44      , 53.79366667, 46.03      , 40.28      , 15.74      ,
       58.85      , 63.22      , 15.18      , 58.48      , 22.77      ,
       36.91      , 32.19      , 34.01392857, 60.29      , 24.29      ,
       16.944     , 25.15      , 46.96      , 69.18      , 37.44      ,
       30.43      , 43.4955    , 36.31      , 41.4       , 43.4955    ,
       15.04      , 27.8       , 14.74      , 25.82266667, 36.11433333,
       27.54      , 61.403     , 22.67      , 29.31      , 50.4       ,
       45.04680952, 16.06      , 47.8       , 65.71      , 14.38      ,
       10.52      , 34.292     , 45.52571429, 46.99      , 11.18      ,
       78.88      , 54.37      , 36.5       , 25.58      , 22.7       ,
       50.82      , 14.28      , 12.27      , 21.23      , 15.18      ,
        8.58      , 27.93      , 43.16      , 28.24      , 71.51      ,
       69.74      , 49.97      , 16.73      , 33.23      , 14.47      ,
       46.19      , 31.75      , 16.79      , 27.63      , 30.16      ,
       28.20733333, 27.45      , 49.4       , 16.55      , 15.68      ,
       42.78      , 27.3       , 63.88      , 36.32      , 26.3175    ,
       60.2       , 23.98      , 41.74      , 41.26      , 38.79      ,
       36.565     , 34.39      , 57.58333333, 45.91      , 13.        ,
       37.74      , 46.96      , 28.65      , 13.08      , 11.18      ,
       59.64      , 39.12      , 53.07      , 45.68      , 64.56      ,
       20.        , 67.22      , 30.09      , 40.32      , 24.13      ,
       28.14      , 37.88766667, 52.14      , 36.02      , 40.695     ,
       13.6       ,  7.55      , 65.31      , 30.38      , 22.84      ,
        6.28      , 22.15      , 12.54      , 34.99      , 42.61      ,
       11.55      , 46.3       , 18.48      , 33.84292857, 60.61      ,
       21.83533333, 23.7       , 33.34766667, 53.83      , 39.57      ,
       40.802     , 16.84      , 23.17      , 24.48      , 37.94      ,
       25.89      , 36.77      , 46.03      , 31.47      , 26.61      ,
       25.19      , 14.89      , 56.944     , 32.53      , 24.88      ,
       33.35      , 41.43      , 62.34      , 38.96      , 34.414     ,
       27.695     , 43.63      , 42.69367857, 11.75      , 12.82      ,
       27.47      , 35.015     , 16.51      , 60.4       , 30.89      ,
       48.79      , 17.28      , 57.809     , 10.2       , 16.714     ,
       31.5       ])

In [89]:
print("Accuracy of the Random Forest Regressor  model comes to be: \n ") 
print(reg3.score(X_train,y_train))

Accuracy of the Random Forest Regressor  model comes to be:

0.9843642114405063

## Step 4: Performance Evaluation:

In [90]:
import numpy as np
from sklearn.metrics import mean_squared_error
print("Model\t\t\t RootMeanSquareError \t\t Accuracy of the model") 
print("""Linear Regression \t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred1)), reg1.score(X_train,y_train)))
print("""Decision Tree Regressor\t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred2)), reg2.score(X_train,y_train)))
print("""Random Forest Regressor\t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred3)), reg3.score(X_train,y_train)))

Model			 RootMeanSquareError 		 Accuracy of the model
Linear Regression 		 10.7989 	 		 0.6136
Decision Tree Regressor		 6.6062 	 		 0.9956
Random Forest Regressor		 5.3889 	 		 0.9844